.education {
  width: 85%;
  margin-top: 50px;
  margin-left: 7.5%;
  height: 650px;
  position: relative;
}
.edu-header {
  width: 100%;
}
.edu-head-line {
  width: 100%;
  border: none;
  border-bottom: 5px solid #1b3975;
  position: absolute;
  top: 27px;
  left: 0px;
}
.edu-head-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 49px;
  line-height: 59px;
  color: #000000;
  position: absolute;
  left: 152px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: white;
}
.edu-body {
  width: 100%;
  position: absolute;
  top: 87px;
  left: 0px;
  display: flex;
}
.edu-menu {
  width: 35%;
  height: 430px;
  display: inline-block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-top: 30px;
}
.edu-menu-logo {
  text-align: center;
}
.edu-menu-img {
  width: 370px;
  margin-bottom: 46px;
}
.edu-sub-menu {
  width: calc(100% - 60px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: black;
  height: 75px;
  padding-left: 42px;
  border-left: #1b3975 solid 18px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  transition: ease all 0.5s;
}
.edu-sub-menu-active {
  background-color: #1b3975;
  color: white;
}
.edu-menu-info {
  display: inline-block;
  width: calc(65% - 100px);
  background: #ffffff;
  box-shadow: -4px 0px 0px #1b3975, 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 430px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  padding: 50px;
}
.AcademicsMenu {
  width: 300px;
  height: calc(100vh - 57px);
  position: absolute;
  top: 57px;
  left: 0px;
}
.ac-menu-block {
  height: 415px;
  width: 240px;
  margin-left: 30px;
  margin-top: calc(150px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.ac-menu-element {
  display: inline-flex;
  justify-content: left;
  width: 240px;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.ac-menu-element:hover {
  cursor: pointer;
}
.ac-menu-element-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 14px;
  margin-left: 10px;
}
.ac-menu-element-icon {
  width: 24px;
  height: 24px;
  margin-top: 13px;
}
.mar-left {
  margin-left: 25px;
}
.as-sectors {
  height: calc(100vh - 50px);
  overflow: auto;
}
.ac-sec {
  width: calc(100% - 400px);
  margin-left: 300px;
  margin-bottom: 100px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgba(221, 226, 235, 0.3);
}
.ac-sec-header {
  position: relative;
  width: 100%;
  height: 180px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.ac-sec-header-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.ac-sec-header-title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ac-sec-body {
  margin-top: 0px;
  width: calc(100% - 150px);
  padding: 30px 75px;
}
.ac-sec-body-p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 25px;
}
.ac-sec-imtihon-icons {
  position: absolute;
  right: 0px;
  top: 0px;
}
.ac-sec-imtihon-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 71px;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.ac-sec-exam-icon {
  font-size: 45px;
  color: black;
}
.ac-sec-imtihon-text {
  position: absolute;
  top: 100px;
}
.ac-sec-imtihon-bullet-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-top: 20px;
}
.ac-sec-imtihon-bullet-list {
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 50px;
}
.ac-sec-exam-note {
  position: relative;
  height: 60px;
}
.ac-sec-exam-note-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  top: 13px;
  left: 20px;
  z-index: 99;
}
.ac-sec-exam-note-shape {
  position: absolute;
  top: 0px;
  left: 0px;
}
.ac-sec-fan-block {
  width: 180px;
  height: 240px;
  background-color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.3s;
  text-align: center;
  margin-top: 30px;
}
.ac-sec-fan-block:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
}
.ac-sec-fan-rasm {
  width: 116px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  margin-top: 20px;
}
.ac-sec-fan-name {
  color: #0f63db;
  font-family: "Inter";
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
}
.ac-sec-fanlar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ac-sec-res-block {
  width: 100%;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  background-color: white;
  overflow: hidden;
}
.ac-sec-res-head {
  width: 100%;
  height: 90px;
  border: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.ac-sec-res-head-btn {
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 50%;
}
.ac-sec-res-head-left-btn {
  background: #ff8980;
  border-top-left-radius: 40px;
}
.ac-left-btn-active {
  background: #fc5552 !important;
}
.ac-right-btn-active {
  background: #fc5552 !important;
}
.ac-sec-res-head-right-btn {
  background: #ff8980;
  border-top-right-radius: 40px;
}
.ac-sec-res-download-block {
  display: block;
  width: 100%;
}
.ac-sec-res-down-file {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}
.ac-res-down-info {
  margin-left: 45px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.ac-sec-res-down-name {
  display: inline-block;
  width: min-content;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-left: 25px;
}
.ac-res-down-btn {
  border: none;
  background: #1b3975;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  height: 45px;
  margin-right: 45px;
  padding: 0px 25px;
  transition: 0.3s all;
}
.ac-res-down-btn:hover {
  transform: scale(1.1);
}
.hide-display {
  display: none;
}
.ac-sec-icon-1{
  top: 30px;
  right: 30px;
}
.ac-sec-icon-2{
  top: 100px;
  right: 130px;
}
.ac-sec-icon-3{
  top: 130px;
  right: 0px;
}
@media screen and (max-width: 820px) {
  .education {
    width: calc(100%);
    margin-left: 0px;
    margin-top: 70px;
    height: 1000px;
  }
  .edu-header {
    width: calc(100% - 80px) !important;
  }
  .edu-head-title {
    font-size: 30px;
    line-height: normal;
    left: 0;
    right: 0;
    margin: 17px auto;
    width: fit-content;
  }
  .edu-body {
    display: block;
    width: calc(100% - 40px);
    margin-left: 20px;
  }
  .edu-menu {
    width: calc(100% - 40px);
    margin-left: 20px;
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-top: 0px;
    height: 391px;
  }
  .edu-menu-img {
    width: 90%;
    margin-bottom: 26px;
  }
  .edu-sub-menu {
    color: #000;
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  .edu-sub-menu-active {
    color: white;
  }
  .edu-menu-info {
    color: #000;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 20;
    display: block;
    width: calc(100% - 20px);
    padding: 20px;
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .AcademicsMenu {
    width: 100%;
    height: unset;
    top: 50px;
    display: block;
  }
  .ac-menu-block {
    height: 415px;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-top: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .ac-menu-element {
    width: 100%;
  }
  .as-sectors {
    margin-top: 570px;
    overflow: hidden;
    display: block;
    height: unset;
  }
  .ac-sec {
    width: 100%;
    margin-left: 0px;
  }
  .ac-sec-header {
    height: 94px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .ac-sec-header-pic {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .ac-sec-header-title {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .ac-sec-body{
    width: calc(100% - 40px);
    padding: 40px 20px ;
  }
  .ac-sec-icon-1{
    top: 20px;
    left: 30px;
  }
  .ac-sec-icon-2{
    top: 20px;
    right: 30px;
  }
  .ac-sec-icon-3{
    top: 20px;
    left: 50%;
  }
}
