.header {
  display: flex;
  position: fixed;
  z-index: 5000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 57px;
  justify-content: space-between;
  background-color: #1b3975;
  box-shadow: 0px 0px 30px 1px black;
}
.header-logo {
    z-index: 1000;
  width: 89px;
  height: 89px;
  position: fixed;
  top: 13px;
  left: 50px;
  border: none;
  border-radius: 44.5px;
  box-shadow: 0px 1px 10px 1px black;
}
.menus {
  display: inline-block;
  margin-left: 180px;
  margin-top: 18px;
}
.single-menu {
  display: inline-block;
  margin-right: 35px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.lang-change-panel{
    margin-right: 30px;
}
.l-panel {
  cursor: pointer;
  width: 110px;
  height: 30px;
  margin-top: 14px;
  color: white;
  border-radius: 15px;
  text-align: center;
  background: rgb(95, 116, 158);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  transition: 0.5s all;
}
.borderful {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.borderless {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.lang-icon {
  font-size: 17px;
  margin-right: 9px;
  margin-bottom: -3px;
}
.expand-icon {
  font-size: 17px;
  margin-left: 9px;
  margin-bottom: -3px;
  transition: 0.5s all;
}
.active-context {
  transform: rotate(0deg);
}
.de-activated {
  transform: rotate(90deg);
}
.lang-list {
  width: 110px;
  transition: 0.5s all;
  background-color: rgb(95, 116, 158);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}

.langlist-active {
  display: block;
}
.langlist-deactive {
  display: none;
}
.single-lang:hover {
  background-color: #1b3975;
  cursor: pointer;
}

.my-link{
  color: unset;
  text-decoration: unset;
}

@keyframes loadAnim {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.single-page{
  animation: loadAnim;
  animation-duration: 0.3s;
}