.home-page {
  width: 100%;
}
.hero-section {
  width: 95%;
  margin-left: 2.5%;
  height: calc(100vh - 99px);
  margin-top: 79px;
}
.school-images {
  height: 90%;
  width: 85%;
}
.hero-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.hero-text {
  z-index: 5;
  position: absolute;
  top: 99px;
  right: 2.5vw;
  width: 70%;
  height: 80%;
}
.hero-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: right;
  color: #ffffff;
  position: absolute;
  top: 180px;
  right: 5.5vw;
  width: 40%;
  z-index: 6;
}
.hero-explanation {
  margin-top: 70px;
  font-size: 20px;
  line-height: 24px;
}
.hero-pic-previous {
  top: calc(100vh - 119px);
  left: 30vw;
  z-index: 6;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 23px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-pic-next {
    top: calc(100vh - 89px);
  left: 35vw;
  z-index: 6;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 23px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
