.home-page {
  width: 100%;
}
.hero-section {
  width: 100vw;
  height: calc(100vh - 55px);
  position: relative;
  top: 0px;
}
.hero-photo {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-title {
  position: absolute;
  left: calc(50% - 491.5px);
  top: calc(50vh - 45px - 176.5px);
  width: 983px;
  height: 353px;
  border: none;
  background: rgba(27, 57, 117, 0.85);
  border-radius: 10px;
}
.hero-header {
  text-align: center;
  padding-top: 35px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}
.hero-opostrov {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 17px;
  color: white;
}
.hero-text {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.news-section {
  width: 100%;
  margin-top: 30px;
  height: calc(600px);
}

.news-section-header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.n-h-left {
  width: calc(50% - 178px);
  text-align: end;
  height: 100px;
}
.n-h-center {
  width: 356px;
  height: 100px;
  text-align: center;
}
.n-h-right {
  width: calc(50% - 178px);
  text-align: start;
  height: 100px;
}
.n-h-icon {
  width: 75px;
  height: 79px;
}
.n-h-sub {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.n-h-title {
  font-family: "Istok Web";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 71px;
  color: #000000;
}

.news-section-text {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 400px;
  margin-left: calc(50% - 200px);
  text-transform: uppercase;
  color: #000000;
  margin-right: 15px;
}
.barchasi-btn {
  background: #1b3975;
  border-radius: 20px;
  width: 140px;
  height: 38px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  transition: 0.3s all;
  box-shadow: -1px 1px 10px 0.5px black;
}
.barchasi-btn:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.news-section-yangilikla {
  width: 100%;
  margin-top: 10px;
  position: relative;
}

.news-at-home {
  cursor: pointer;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.news-at-home-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s all;
}
.news-at-home-pic:hover {
  transform: scale(1.1);
}
.news-home-text:hover ~ .news-at-home-pic {
  transform: scale(1.1);
}
.half-news {
  margin-right: 10px;
  width: 50%;
  height: 100%;
}

.news-home-text {
  padding: 5px 10px;
  position: absolute;
  height: 35%;
  top: 0px;
  left: 0px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(0, 0, 0, 0.45) 35.73%,
    rgba(217, 217, 217, 2.47455e-8) 100%
  );
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.honors-section {
  width: 100%;
  height: calc(100vh - 57px);
  border-bottom: 2px solid #1b3975;
  background-image: url("../media/ps-logo.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position: 100% 30vh;
}
.honors-title {
  padding-top: 25px;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.honor-landing {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  box-shadow: -10px 10px 10px 1px rgb(191, 191, 191);
}
.honor-landing-icon {
  width: 100px;
  height: 90px;
  margin-top: 35px;
  margin-left: 67.5px;
}
.honor-lading-num {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.honor-lading-text {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.honor-landing-blocks {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.main-honors {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.main-honor {
  width: 600px;
  height: 200px;
  display: inline-flex;
  justify-content: space-between;
}
.main-honor-pic {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: none;
  background: linear-gradient(225deg, #e4e4e4 0%, rgba(27, 57, 117, 0.5) 100%);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.main-honor-photo {
  margin: 20px;
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 50%;
}
.main-honor-text {
  display: inline-block;
  width: 400px;
  height: 250px;
}
.main-honor-title {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.main-honor-definition {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.all-honors-btn {
  margin-top: 20px;
  margin-left: calc(50% - 125px);
}
.galereya {
  width: 100%;
  height: calc(100vh - 57px);
  position: relative;
}
.galereya .news-all-line {
  top: calc(100vh - 58px) !important;
}
.galereya .news-all {
  top: calc(100vh - 70px) !important;
}
.galereya-header {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.galereya-title {
  width: 300px;
  margin-left: calc(50% - 150px);
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.all-galereya {
  margin-right: 30px;
}
.galereya-show {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: 7.5%;
  margin-top: 10px;
  height: calc(100% - 76px);
}
.galereya-big {
  width: 66.5%;
  height: 100%;
}
.galereya-small {
  width: 33.5%;
  height: calc(100% - 20px);
}
.galereya-com {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px 5px;
  overflow: hidden;
  display: inline-block;
}
.galereya-scoll {
  text-align: center;
  margin-top: 120px;
  padding-bottom: 30px;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  border: 1px solid rgb(191, 191, 191);
}
.galereya-heading {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 31px;
  line-height: 36px;
  color: #000000;
}
.galereya-com-act {
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
  padding-left: 4px;
  top: 57px;
  left: 0px;
  width: 100vw;
  height: calc(100vh - 57px);
}
.my-transitoin {
  transition: all 0.5s linear;
}

.galereya-pic-zoom {
  width: 90%;
  margin-left: 5%;
  height: calc(100vh - 57px);
  cursor: zoom-out;
  object-fit: cover;
  transition: all 0.5s linear;
  object-position: center;
}
.galereya-com-img {
  cursor: zoom-in;
  object-fit: cover;
  transition: all 0.5s linear;
  object-position: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.galereya-up {
  position: absolute;
  left: 0px;
  bottom: 7.5px;
  width: 50px;
  height: 50px;
  border-bottom: #1b3975 10px solid;
  border-left: #1b3975 10px solid;
}
.galereya-down {
  position: absolute;
  right: 10px;
  top: 2.5px;
  width: 50px;
  height: 50px;
  border-top: #1b3975 10px solid;
  border-right: #1b3975 10px solid;
}
.the-hidden-thing {
  display: none;
}

.school-staff {
  width: 100%;
  position: relative;
}
.staff-title {
  margin-bottom: 20px;
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.staff-landing {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.staf-pic-div {
  display: inline-block;
  width: 250px;
  text-align: left;
  position: relative;
}
.staff-info-line {
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #1b3975;
}
.lan-staf-pic {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 20;
  object-fit: cover;
  object-position: center;
  width: 210px;
  height: 280px;
  border: none;
}
.staff-pic-shadow {
  width: 210px;
  height: 280px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 0;
  background-color: #1b3975;
}
.staf-info-div {
  display: inline-block;
  width: calc(100% - 250px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}
.staff-name {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.staff-status {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.7;
}
.staff-contact {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.staff-text {
  margin-top: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.staff-flex {
  width: 85%;
  margin-left: 7.5%;
}
.staff-all {
  top: 787px !important;
}

.all-staff {
  width: 300px;
}

.educatoin {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  height: 705px;
}
.edu-title {
  margin-top: 40px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.stemS {
  position: absolute;
  left: 5%;
  top: 70px;
}
.stemT {
  position: absolute;
  left: 5%;
  top: 220px;
}
.stemE {
  position: absolute;
  left: 5%;
  top: 370px;
}
.stemM {
  position: absolute;
  left: 5%;
  top: 520px;
}
.stem {
  position: absolute;
  left: calc(5% + 170px);
  top: 56px;
}
.stem-text {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  position: absolute;
  height: 629px;
  width: 30%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
