.news-page {
  width: 100%;
}
.news-slider {
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
  border: 1px solid rgba(235, 235, 235, 1);
  border-radius: 15px;
  height: 500px;
}
.n-slider-title {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.just-height {
  width: 100%;
  height: 100px;
}
.n-main-slider {
  width: 100%;
  overflow: auto;
  height: 450px;
}
.n-main-slider-flex {
  width: 1800px;
  display: flex;
}
.home-n-slider {
  position: absolute;
  display: flex;
  padding-top: -25px;
  width: calc(85% - 50px);
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: 7.5%;
  height: 400px;
  box-shadow: 0px 0px 80px 20px rgba(0, 0, 0, 0.2);
}
.news-all {
  border: none;
  background: #1b3975;
  border-radius: 20px;
  height: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 420px;
  width: 300px;
  left: calc(50% - 150px);
  box-shadow: -5px 5px 50px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.news-all:hover {
  transform: scale(1.1);
}
.news-all-line {
  border: none;
  border-bottom: 1px solid #1b3975;
  height: 0px;
  position: absolute;
  top: 432px;
  left: 7.5%;
  width: 85%;
}
.s-news {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-top: 15px;
  cursor: pointer;
  width: 250px;
  height: 400px;
  box-shadow: 0px 0px 80px 20px rgba(0, 0, 0, 0.2);
}
.home-n-slider .s-news {
  margin: 0px;
  margin-right: 15px;
}
.newas-next-btn {
  height: 400px;
  width: 50px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: calc(7.5%);
  background: #1b3975;
  border-radius: 0px 10px 10px 0px;
  text-align: center;
  justify-content: center;
}
.newas-next-icon {
  width: 33px;
  height: 36px;
  color: white;
  margin-top: 182px;
}
.s-news:hover .s-news-info {
  height: 350px;
  box-shadow: 0px 0px 20px 10px rgba(125, 125, 125, 0.5);
}
.s-news:hover .s-news-desc {
  height: 320px;
  margin: 10px;
}
.s-news-desc {
  transition: all 0.4s;
  height: 0px;
  overflow-y: hidden;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 0px;
}
.s-news-controls {
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.s-news-batafsil {
  margin-right: 10px;
}
.s-news-info {
  transition: all 0.4s;
  z-index: 1000;
  background-color: white;
  position: absolute;
  height: 160px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.s-news-title {
  margin: 10px;
}
.s-news-pic {
  width: 100%;
  height: calc(100% - 160px);
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: -5;
}

.news-category {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 120px;
}
.news-catogory-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.one-new {
  width: 95%;
  margin-left: 2.5%;
}

.more-icon-back {
  margin-bottom: -3px;
}
.single-page-news {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  margin-left: 0%;
  margin-top: 130px;
}

.single-image {
  position: absolute;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  height: 500px;
}
.single-img {
  height: 500px;
}

.img-left {
  color: rgb(163, 167, 174);
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 49%;
  left: 0px;
  border: 1px solid rgb(163, 167, 174);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.img-left:hover {
  background-color: rgb(163, 167, 174);
  color: white;
}
.img-right:hover {
  background-color: rgb(163, 167, 174);
  color: white;
}
.img-right {
  color: rgb(163, 167, 174);
  font-size: 25px;
  padding: 10px;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 49%;
  right: 0px;
  border: 1px solid rgb(163, 167, 174);
  border-radius: 5px;
}
.single-title {
  width: 80%;
  margin-top: 540px;
  font-size: 21px;
  line-height: 30px;
  color: black;
  margin-left: 10%;
  font-weight: 700;
}
.single-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 40px;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-weight: 400;
  margin-bottom: 50px;
}
.single-watch {
  margin-bottom: -2px;
  margin-left: 15px;
}
.single-extra {
  display: block;
  width: 80%;
  margin-left: 10%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .mob-single-page-news {
    display: none;
  }
}
@media screen and (min-width: 100px) and (max-width: 768px) {
  .mob-single-page-news {
    display: block;
    position: unset;
  }
  .single-page-news {
    display: none;
  }
  .mob-single-imgage {
    display: block;
    text-align: center;
    margin-top: 90px;
    width: 90%;
    margin-left: 5%;
  }
  .mob-single-img {
    width: 100%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .img-buttons {
    display: flex;
    justify-content: center;
  }
  .mob-img-left {
    margin-right: 5px;
    height: min-content;
    z-index: 1;
    color: rgb(163, 167, 174);
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(163, 167, 174);
    border-radius: 5px;
    transition: all 0.3s ease-in;
  }
  .mob-img-right {
    height: min-content;
    margin-left: 5px;
    z-index: 1;
    color: rgb(163, 167, 174);
    font-size: 20px;
    padding: 5px;
    transition: all 0.3s ease-in;
    display: inline-block;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(163, 167, 174);
    border-radius: 5px;
  }
  .img-buttons {
    margin-top: 10px;
  }
  .mob-single-title {
    margin-top: 20px;
    font-size: 21px;
    line-height: 30px;
    margin-left: 10%;
  }
}
